a {
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#menu {
    display: flex;
    justify-content: center;
    
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: #000;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
}
#head{
    text-align: center;
    padding: 100px;
}
#head h2{
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    display: inline-block;
    font-family: 'cinzel';
}
