a {
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#menu {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: #ffff;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #f3f4f5;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: #000;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
}

#slider {
    background-image: url("../img/hero_2.jpg");
    background-color: #0000005c;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: color
}

.slider-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-text h2 {
    font-family: 'cinzel';
    color: #fff;
    font-size: 1.5rem;
}

.slider-text h2:nth-child(2) {
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
    font-family: 'cinzel';
    font-weight: 900;
    text-transform: uppercase
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    font-family: 'cinzel';
    float: left;
}

#contact-text {
    padding: 80px 0;
    background-color: #f8f9fa;
}

label {
    float: left;
}

input.btn-primary {
    color: #fff;
    background-color: #930077;
    border-color: #930077;
    float: left;
}

input:focus {
    border-color: purple !important;
    box-shadow: none !important;
    border-bottom: none;
}

input.btn-primary:hover {
    background-color: green;
}

#footer {
    margin-top: 10%;
}

.center-icons {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-icons a {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.center-icons i {
    transition: all .3s ease;
    display: inline-block;
    border-radius: 50%;
    background: #930077;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.center-icons i:hover {
    background: #000;
    color: #fff;
    bottom: 5px;
}

#footer {
    height: 200px;
}

.copyright {
    text-align: center;
    color: grey;
}

.heart {
    color: red;
}