a {
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#menu {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: #ffff;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #f3f4f5;
}

#menu ul{
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: #000;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none!important;
}

#slider {
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

#slider img {
    max-width: 70%;
    position: relative;
}

.slider-h2 {
    position: absolute;
    margin-top: 10%;
    font-family: cinzel;
    color: #fff;
    font-size: 1.5rem;
    line-height: 220px;
}

.slider-h3 {
    position: absolute;
    margin-top: 13%;
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
    font-family: montserrat;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 290px;
}

#products {
    padding: 80px 0;
}

#products .col-lg-4 {
    margin-top: 15%;
}

#products .product-title {
    text-align: center;
}

.product-title h2 {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
}

.product-title p {
    margin-top: -20px;
}

.col-12 a {
    color: #930077;
}

.col-12 a:hover {
    color: #930077;
    text-decoration: none;
}

#products .wine {
    position: absolute;
    top: -27%;
}

#products .texts {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

#products .single-pro {
    height: 350px;
    position: relative;
    background-color: #f3f4f5;
}

.img-fluid {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.pro-text {
    font-size: 18px;
    text-align: center;
    color: black;
}

.pro-span {
    justify-content: center;
    display: flex;
    color: gray;
}

.wine-actions {
    padding: 10px;
    transition: all .3s ease;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.wine-actions h3 {
    font-size: 18px;
    text-align: center;
}

.wine-actions>span {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.wine-actions .icon-star {
    text-align: center;
    margin: 10px;
}

.btn-pro {
    text-align: center;
    background-color: purple;
    color: white;
    border: none;
    width: 172px;
    margin-left: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.col-lg-4:hover .wine-actions {
    opacity: 1;
}

#slider-team {}

#slider-team img {
    width: 80px!important;
    border: 4px solid #930077;
    margin-bottom: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.slider-p {
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-align: center;
    text-transform: none;
    color: gray;
}

#wines-blog {
    margin-top: 10%;
}

#wines-blog .row {}

#wines-blog img {
    max-width: 100%;
}

#wines-blog h2 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin-top: 20px;
}

#wines-blog h2>a {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: #000;
}

#wines-blog p {
    color: gray;
}

#wines-blog span>a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

#footer {
    padding: 140px 0 80px 0;
}

.center-icons {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-icons a {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.center-icons i {
    transition: all .3s ease;
    display: inline-block;
    border-radius: 50%;
    background: #930077;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.center-icons i:hover {
    background: #000;
    color: #fff;
    bottom: 5px;
}

.copyright {
    text-align: center;
    color: grey;
}

.heart {
    color: red;
}